*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --primary-hue: 210;
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-primary-variant: hsl(var(--gray-hue), 100%, 65%);
  --color-secondary: #ffb116;
  --color-geay-100: hsl(var(--gray-hue), 47%, 94%);
  --color-geay-200: hsl(var(--gray-hue), 26%, 75%);
  --color-geay-300: hsl(var(--gray-hue), 24%, 64%);
  --color-geay-400: hsl(var(--gray-hue), 16%, 41%);
  --color-geay-500: hsl(var(--gray-hue), 44%, 25%);
  --color-geay-600: hsl(var(--gray-hue), 48%, 15%);

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-geay-200);
  line-height: 1.7;
  overflow-x: hidden;
  background: var(--color-geay-600);
}
.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-geay-100);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
a {
  color: var(--color-geay-100);
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
}
