.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed #03045e;
  color: #03045e;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.card img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.actions {
  display: flex;
  align-items: center;
}
.actions span {
  width: 20px;
  text-align: center;
  margin: 0 2px;
}
.actions button {
  background-color: #caf0f8;
  color: #03045e;
  border: none;
  font-size: 1.3rem;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
}
