.products_section {
  margin-top: -9px;
}
.sub_page .products_section {
  margin-top: 75px;
}
.products_section .heading_container {
  margin-bottom: 75px;
}
.products_section .heading_container h2 {
  font-weight: bold;
  font-size: 34px;
}
.products_section .heading_container p {
  font-size: 20px;
}
.product_container {
  flex-wrap: wrap;
  width: 100%;
}
.product_box {
  width: 250px;
  height: 350px;
  margin: 0 10px 10px 10px;
}
.product_img-box {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
}
.product_img-box img {
  width: 100%;
  transition: all ease-in-out 0.3s;
}
.product_img-box:hover img {
  transform: scale(1.1, 1.1);
}
.product_img-box span {
  display: inline-block;
  background-color: #ec4045;
  color: #fefefe;
  padding: 2px 17px;
  margin-top: -30px;
  margin-bottom: 15px;
}
.product_img-box:hover span {
  background-color: #f01119;
}
.product_detail-box {
  color: #717171;
  font-size: 16px;
}
.product_detail-box span {
  color: #0e7bfa;
  font-weight: 400;
  font-size: 18px;
}
