.container {
  width: 100%;
  margin-bottom: 100px;
}
.container h3 {
  color: #ff758f;
  font-size: 1.5rem;
}
.contacts {
  border: 2px solid #ff758e9c;
  list-style: none;
  margin-top: 20px;
  padding: 5px;
  border-radius: 15px;
}
.message {
  background-color: #ff758f;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 20px;
  border-radius: 20px;
  color: #ffccd5;
  font-size: 1.2rem;
  font-weight: 500;
}
