.search {
  margin: 0 10px 50px;
}
.search input {
  border: 2px dashed #a7c957;
  padding: 10px;
  width: 250px;
  font-size: 0.9rem;
  color: #548c2f;
  border-radius: 10px;
  margin-right: 10px;
}
.search input:focus {
  outline: none;
}
.search button {
  padding: 10px;
  font-size: 1rem;
  background-color: #a7c957;
  color: #104911;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
