.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fb6f92;
  padding: 10px 20px;
  margin-bottom: 150px;
  border-radius: 10px;
}
.header a {
  text-decoration: none;
  color: #ffb3c6;
  font-weight: 600;
  font-size: 1.1rem;
}
.footer {
  text-align: center;
  background-color: #fb6f92;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}
